<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Churn Predictor{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<nav class="navbar">
    <div class="logo">📊 ChurnAI</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/insights">Model Insights</a>
    </div>
</nav>


<div class="page-container">
    {% block content %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
</body>
</html>
