{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">
  <h2 class="dashboard-title">Insights Dashboard</h2>
  <p class="dashboard-subtitle">Customer churn analytics</p>

  <div class="chart-grid">

    <div class="chart-card">
      <h3>Customer Churn Distribution</h3>
      <canvas id="churnChart"></canvas>
    </div>

    <div class="chart-card">
      <h3>Contract Type Split</h3>
      <canvas id="contractChart"></canvas>
    </div>

    <div class="chart-card">
      <h3>Payment Method Usage</h3>
      <canvas id="paymentChart"></canvas>
    </div>

  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

{% endblock %}
